.warp-qrcode{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-qrcode{
   

}
.info{
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
.download{
    cursor: pointer;
}